include ../../node_modules/bemto.pug/bemto
include ../globals/data
include ../globals/common
include ../globals/svg-mixin
include ../blocks/index

block params
	- var pageTitle = "Головна"

doctype html
html
	head
		title= pageTitle
		block meta
		block styles
	body
		block main
		block scripts