include ../globals/common
include ../globals/svg-mixin
include ../blocks/index

doctype html
html
	head
		link(rel="stylesheet" href=asset("styles.css"))
	body
		block content
		script(src=asset("main.js"))